@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html {
  font-family: 'Press Start 2P';
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;  
}

#loginBtn,
#logoutBtn,
#backBtn,
#btnBackground {
  font-family: 'Press Start 2P';
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#username {
  font-family: 'Press Start 2P';
  font-size: 16px;
  text-decoration: none;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  display: flex;
  margin: 0 auto;
}

#loginBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}


h1 {
  display: flex;
  justify-content: center;
  margin: 6rem;
}

footer{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  min-height: 28vh;
  margin: 0 auto;
  flex-wrap: nowrap;
}

#app{
  max-width: 100%;
  min-height: 50vh;
  margin: 0 auto;
  padding-top: 8vw;
}

#backBtn{
  margin-right: 13rem;
}