.navbar {
  width: 95%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: Roboto, 'sans-serif';
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: '';
  height: 3px;
  width: 0%;
  background: yellowgreen;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}

.navbar button {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #ffffff;
  font-family: Roboto, 'sans-serif';
  font-size: 1.2rem;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  margin-left: 5rem;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbar button:hover,
.navbar button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.navbar button:active {
  background: var(--color);
  color: #fff;
}
