.Sports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-image: url(https://cdn3.vectorstock.com/i/1000x1000/30/42/white-stage-and-breaking-news-on-lcds-background-i-vector-33353042.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50.4vw;
}

.sport-container {
  margin-top: 7rem;
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  height: 43rem;
}

.sport-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.sport-link,
.sport-source {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
}

.sport-link:hover,
.sport-source:hover {
  background-color: #3e8e41;
}
