.form {
  margin-top: 20rem;
  margin-bottom: 30.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.form-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0069d9;
}
