.btnLogout {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btnLogout:active {
  border-color: #4a4a4a;
  outline: 0;
}

.btnLogout:focus {
  border-color: #485fc7;
  outline: 0;
}

.btnLogout:hover {
  border-color: #b5b5b5;
}

.btnLogout:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}
