nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 100px;
}

nav a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav .active {
  font-weight: bold;
}